{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-4" style="padding: 50px" id=header-text>
        <h5>Drive in style with luxurious classic automobiles from Vroom Vroom Enterprise!</h5>
        <h5>Plenty of classic automobiles to choose from</h5>
        <div>
            <button class="btn btn-primary">View Our Cars</button>
            <button class="btn btn-primary">Join Our Newsletter</button>
        </div>
    </div>

    <div class="col-12 col-md-8">
        <img style="padding-top: 50px; float:right; width: 100%;" src="../../static/images/undraw_city_driver_re_0x5e.svg">
    </div>
</div>


{% endblock content %}