<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Title</title>
</head>
<body>

    <!-- Navbar goes here -->
    <nav class="ct-nav">
        <div class="icon">
            <img src="../static/images/LogoMakr-2s0v2H.png" alt="">
        </div>
            <!-- Nav items begin here -->
            <div>
                <ul id="horizontal-list">
                    <a href="">
                        <li>Total Collection</li>
                    </a>
                    <a href="">
                        <li>Best Cars</li>
                    </a>
                    <a href="">
                        <li>Profile</li>
                    </a>
                    <a href="">
                        <li>Sign In</li>
                    </a>
                    <a href="">
                        <li>Sign Up</li>
                    </a>
                </ul>
            </div>
    </nav>
    <!-- End of Nav -->
    {% block content %}
    {% endblock content %}
    <!-- Footer -->
    <h4></h4>
    <footer class="row" id="footer" style="background-color:rgb(185, 184, 184); padding: 50px;">
        <div class="col-12 col-md-4">
            <img src="../static/images/LogoMakr-2s0v2H.png" alt="CD Logo" id="footer-logo">
        </div>

        <div class="col-12 col-md-4">
            <div class="footer-text-flex">
                <p>Terms of service</p>
                <p>Privacy Sttement</p>
                <p>Do Not Sell My Personal Information</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="footer-text-flex">
                <p>Ad choices</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>